@use "../../assets/helpers/mixins";
.chef {
  margin-top: 140px;
  &__content {
    @include mixins.dFlex();
  }
  &__info {
    width: 526px;
  }
  &__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
  }
  &__description {
    color: #00000099;
    font-size: 16px;
  }
  &__btn {
    @include mixins.btn-black();
    padding: 20px 50px;
    margin-top: 72px;
  }
}
